/* SNOW EFFECT */
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}

/* badge */

.card-container {
    position: relative;
}

.pt-ribbon-wrapper {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

.pt-ribbon-wrapper .pt-ribbon {
    text-align: center;
    position: relative;
    height: 40px;
    top: 17px;
    left: -23px;
    width: 196px;
    background-color: rgba(255, 0, 0, 0.58);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
}